n8n_workflow.json
{
    "name": "SmartNexusAI Marketing Integration",
    "nodes": [
        {
            "parameters": {
                "path": "submit-lead",
                "responseMode": "lastNode",
                "options": {}
            },
            "name": "Webhook (Lead Form)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                240
            ],
            "webhookId": "submit-lead-webhook"
        },
        {
            "parameters": {
                "requestMethod": "POST",
                "url": "https://cryptoclastic-uneminently-marchelle.ngrok-free.app/api/v1/leads",
                "options": {
                    "headers": {
                        "parameter": [
                            {
                                "name": "ngrok-skip-browser-warning",
                                "value": "true"
                            }
                        ]
                    }
                },
                "bodyParametersUi": {
                    "parameter": [
                        {
                            "name": "email",
                            "value": "={{$node[\"Webhook (Lead Form)\"].json[\"body\"][\"email\"]}}"
                        },
                        {
                            "name": "contactName",
                            "value": "={{$node[\"Webhook (Lead Form)\"].json[\"body\"][\"name\"]}}"
                        },
                        {
                            "name": "companyName",
                            "value": "={{$node[\"Webhook (Lead Form)\"].json[\"body\"][\"company\"]}}"
                        },
                        {
                            "name": "channel",
                            "value": "n8n Webhook"
                        }
                    ]
                }
            },
            "name": "Create Lead in Symfony",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 2,
            "position": [
                680,
                240
            ]
        },
        {
            "parameters": {
                "triggerTimes": {
                    "item": [
                        {
                            "mode": "everyDay",
                            "hour": 9
                        }
                    ]
                }
            },
            "name": "Cron (Daily Report)",
            "type": "n8n-nodes-base.cron",
            "typeVersion": 1,
            "position": [
                460,
                460
            ]
        },
        {
            "parameters": {
                "url": "http://host.docker.internal:8000/api/v1/reports/daily",
                "options": {}
            },
            "name": "Get Daily Report",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 2,
            "position": [
                680,
                460
            ]
        },
        {
            "parameters": {
                "channel": "general",
                "text": "=📊 *Daily Marketing Report* 📊\n\n📅 Date: {{$node[\"Get Daily Report\"].json[\"date\"]}}\n🔥 New Leads: {{$node[\"Get Daily Report\"].json[\"leads\"][\"new\"]}}\n🚀 Active Campaigns: {{$node[\"Get Daily Report\"].json[\"campaigns\"][\"active\"]}}",
                "attachments": [],
                "otherOptions": {}
            },
            "name": "Send to Slack",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 1,
            "position": [
                900,
                460
            ],
            "credentials": {
                "slackApi": {
                    "id": "YOUR_SLACK_CREDENTIAL_ID",
                    "name": "Slack Account"
                }
            }
        }
    ],
    "connections": {
        "Webhook (Lead Form)": {
            "main": [
                [
                    {
                        "node": "Create Lead in Symfony",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cron (Daily Report)": {
            "main": [
                [
                    {
                        "node": "Get Daily Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Daily Report": {
            "main": [
                [
                    {
                        "node": "Send to Slack",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}